{
  "swagger": "2.0",
  "tags": [
    {
      "name": "WarehousePlatformService"
    }
  ],
  "host": "namshi-api-gateway.noon.partners",
  "basePath": "/warehouse_platform",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/warehouses/list": {
      "post": {
        "summary": "ListWarehouses",
        "description": "Returns the list of warehouses associated with the partner.\nThe list can be filtered by fulfillment system code, and supports pagination to manage large sets of warehouses effectively.",
        "operationId": "WarehousePlatformService_ListWarehouses",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListWarehousesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1ListWarehousesRequest"
            }
          }
        ],
        "tags": [
          "Warehouse"
        ],
        "x-max-requests": 30,
        "x-time-window": 60,
        "x-burst": 15,
        "x-burst-time-window": 30
      }
    }
  },
  "definitions": {
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {},
      "required": [
        "type_url",
        "value"
      ]
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "status_id": {
          "type": "integer",
          "format": "int32"
        },
        "status_code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object"
          }
        }
      }
    },
    "v1ListWarehousesRequest": {
      "type": "object",
      "properties": {
        "next_token": {
          "type": "string",
          "x-nullable": true,
          "description": "Pagination cursor for retrieving the next page of results.\nLeave empty to retrieve the first page."
        },
        "filters": {
          "$ref": "#/definitions/v1ListWarehousesRequestFilters",
          "x-nullable": true,
          "description": "Filters to apply when listing warehouses.\nWhen paginating, filters must remain identical between calls that share the same cursor."
        }
      }
    },
    "v1ListWarehousesRequestFilters": {
      "type": "object",
      "properties": {
        "fulfillment_system_code": {
          "type": "string",
          "x-nullable": true,
          "description": "Filter warehouses by fulfillment system code.\nIf not specified, all warehouses will be returned."
        }
      },
      "description": "Filters for ListWarehousesRequest."
    },
    "v1ListWarehousesResponse": {
      "type": "object",
      "properties": {
        "next_token": {
          "type": "string",
          "x-nullable": true,
          "description": "Pagination cursor for retrieving the next page of results.\nEmpty string indicates that there are no subsequent pages."
        },
        "warehouses": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1Warehouse"
          },
          "description": "The list of warehouses for this page.\nContains at most 500 warehouses."
        }
      },
      "required": [
        "warehouses"
      ]
    },
    "v1Warehouse": {
      "type": "object",
      "properties": {
        "warehouse_code": {
          "type": "string",
          "description": "The unique code of the warehouse."
        },
        "display_name": {
          "type": "string",
          "description": "The display name of the warehouse."
        },
        "fulfillment_system_code": {
          "type": "string",
          "description": "The fulfillment system code of the warehouse."
        },
        "is_active": {
          "type": "boolean",
          "description": "Whether the warehouse is active and can be used for fulfillment."
        }
      },
      "required": [
        "warehouse_code",
        "display_name",
        "fulfillment_system_code",
        "is_active"
      ]
    }
  }
}
