{
  "swagger": "2.0",
  "tags": [
    {
      "name": "CatplatService"
    }
  ],
  "host": "noon-api-gateway.noon.partners",
  "basePath": "/catplat",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/barcode/map": {
      "post": {
        "summary": "BarcodeSkuMap",
        "description": "This API connects an existing partner_sku and a barcode, which for instance, allow warehouse systems to know exactly what that barcode represents in stock The barcode is created if it doesn't exist in the system already",
        "operationId": "CatplatService_SkuBarcodeMap",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1BatchUpsertBarcodeSkuMapResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1BatchUpsertBarcodeSkuMapRequest"
            }
          }
        ],
        "tags": [
          "Barcode"
        ],
        "x-max-requests": 1500,
        "x-time-window": 60,
        "x-burst": 1500,
        "x-burst-time-window": 60
      }
    }
  },
  "definitions": {
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string",
          "description": "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
        }
      },
      "additionalProperties": {},
      "description": "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }",
      "required": [
        "type_url",
        "value"
      ]
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "status_id": {
          "type": "integer",
          "format": "int32"
        },
        "status_code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object"
          }
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https://github.com/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "v1BatchUpsertBarcodeSkuMapRequest": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1BatchUpsertBarcodeSkuMapRequestItem"
          }
        }
      },
      "required": [
        "items"
      ]
    },
    "v1BatchUpsertBarcodeSkuMapRequestItem": {
      "type": "object",
      "properties": {
        "barcode": {
          "type": "string",
          "title": "The barcode, UPC, or ISBN number for the product. max_chars=100"
        },
        "partner_sku": {
          "type": "string",
          "title": "A unique user-defined product code/stock keeping unit (SKU) which already exists in the catalog. max_chars=100"
        },
        "force_map": {
          "type": "boolean",
          "x-nullable": true,
          "title": "Boolen value to force the mapping and override any other mapping between the same \"barcode\" and partner_sku"
        }
      },
      "required": [
        "barcode",
        "partner_sku"
      ]
    },
    "v1BatchUpsertBarcodeSkuMapResponse": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1BatchUpsertBarcodeSkuMapResponseItem"
          }
        }
      },
      "required": [
        "items"
      ]
    },
    "v1BatchUpsertBarcodeSkuMapResponseItem": {
      "type": "object",
      "properties": {
        "barcode": {
          "type": "string",
          "description": "The barcode, UPC, or ISBN number for the product."
        },
        "partner_sku": {
          "type": "string",
          "title": "A unique user-defined product code/stock keeping unit (SKU) which already exists in the catalog. max_chars=100"
        },
        "status": {
          "$ref": "#/definitions/rpcStatus",
          "title": "Status indicating success or error"
        }
      },
      "required": [
        "barcode",
        "partner_sku",
        "status"
      ]
    }
  },
  "externalDocs": {
    "description": "gRPC-gateway",
    "url": "https://github.com/fastfishio/partner-integration-protos"
  }
}
