{
  "swagger": "2.0",
  "tags": [
    {
      "name": "StockService"
    }
  ],
  "host": "namshi-api-gateway.noon.partners",
  "basePath": "/stock",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/stock-list": {
      "post": {
        "summary": "GetStock",
        "description": "Given a list of warehouse and partner_sku pairs return the quantity for each respective pair",
        "operationId": "StockService_GetStock",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1BatchGetStockResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1BatchGetStockRequest"
            }
          }
        ],
        "tags": [
          "Stock"
        ],
        "x-max-requests": 1500,
        "x-time-window": 60,
        "x-burst": 1500,
        "x-burst-time-window": 60
      }
    },
    "/v1/stock-update": {
      "post": {
        "summary": "UpdateStock",
        "description": "Update the stock in the warehouse",
        "operationId": "StockService_UpdateStock",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1BatchUpsertStockResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1BatchUpsertStockRequest"
            }
          }
        ],
        "tags": [
          "Stock"
        ],
        "x-max-requests": 1500,
        "x-time-window": 60,
        "x-burst": 1500,
        "x-burst-time-window": 60
      }
    }
  },
  "definitions": {
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string",
          "description": "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
        }
      },
      "additionalProperties": {},
      "description": "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }",
      "required": [
        "type_url",
        "value"
      ]
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "status_id": {
          "type": "integer",
          "format": "int32"
        },
        "status_code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object"
          }
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https://github.com/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "v1BatchGetStockRequest": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1BatchGetStockRequestItem"
          },
          "title": "List of (warehouse_code, partner_sku) pairs to retrieve thier stock information"
        }
      },
      "required": [
        "items"
      ]
    },
    "v1BatchGetStockRequestItem": {
      "type": "object",
      "properties": {
        "warehouse_code": {
          "type": "string",
          "title": "Integration warehouse code to retrieve stock for"
        },
        "partner_sku": {
          "type": "string",
          "title": "Partner sku to retrive its stock information in that warehouse"
        }
      },
      "required": [
        "warehouse_code",
        "partner_sku"
      ]
    },
    "v1BatchGetStockResponse": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1BatchGetStockResponseItem"
          },
          "title": "List of retrieved stock information"
        }
      },
      "required": [
        "items"
      ]
    },
    "v1BatchGetStockResponseItem": {
      "type": "object",
      "properties": {
        "warehouse_code": {
          "type": "string",
          "title": "Warehouse code of the item"
        },
        "partner_sku": {
          "type": "string",
          "title": "Partner sku of the item"
        },
        "status": {
          "$ref": "#/definitions/rpcStatus",
          "description": "Status indicating whether the workflow executed successfully or encountered an error."
        },
        "qty": {
          "type": "integer",
          "format": "int32",
          "title": "Existing stock for the partner sku in the warehouse (this is the total stock that the partner updated for noon)"
        },
        "processing_time": {
          "type": "string",
          "x-nullable": true,
          "title": "processing_time of the item"
        },
        "stock_updated_at": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true,
          "title": "Last time the stock was updated"
        }
      },
      "required": [
        "warehouse_code",
        "partner_sku",
        "status",
        "qty"
      ]
    },
    "v1BatchUpsertStockRequest": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1BatchUpsertStockRequestItem"
          },
          "title": "List of the wanted (warehouse code, partner sku) to update respective qty and processing time"
        }
      },
      "required": [
        "items"
      ]
    },
    "v1BatchUpsertStockRequestItem": {
      "type": "object",
      "properties": {
        "warehouse_code": {
          "type": "string",
          "title": "Warehouse code of the item to update stock for"
        },
        "partner_sku": {
          "type": "string",
          "title": "Partner sku of the item to update stock for"
        },
        "qty": {
          "type": "integer",
          "format": "int32",
          "x-nullable": true,
          "title": "Represents available stock to be updates (update stock to be 4 for example)"
        },
        "processing_time": {
          "type": "string",
          "x-nullable": true,
          "title": "Processing time of the item if needs to be updated"
        }
      },
      "required": [
        "warehouse_code",
        "partner_sku"
      ]
    },
    "v1BatchUpsertStockResponse": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1BatchUpsertStockResponseItem"
          },
          "title": "Returns list of status for each item, if it was updated successfully or failed"
        }
      },
      "required": [
        "items"
      ]
    },
    "v1BatchUpsertStockResponseItem": {
      "type": "object",
      "properties": {
        "warehouse_code": {
          "type": "string",
          "title": "Warehouse code of item that was requested for update"
        },
        "partner_sku": {
          "type": "string",
          "title": "Partner sku of item that was requested for update"
        },
        "status": {
          "$ref": "#/definitions/rpcStatus",
          "title": "Status that identify if update request for this item passed successfully or failed"
        }
      },
      "required": [
        "warehouse_code",
        "partner_sku",
        "status"
      ]
    }
  }
}
