{
  "swagger": "2.0",
  "tags": [
    {
      "name": "XborderPricingService"
    }
  ],
  "host": "noon-api-gateway.noon.partners",
  "basePath": "/xborder-pricing",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/product/upsert": {
      "post": {
        "summary": "BatchUpsertProduct",
        "description": "Create a new product or update an existing one",
        "operationId": "XborderPricingService_BatchUpsertProduct",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1BatchUpsertProductResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1BatchUpsertProductRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ],
        "x-max-requests": 1500,
        "x-time-window": 60,
        "x-burst": 1500,
        "x-burst-time-window": 60
      }
    },
    "/v1/pricing/upsert": {
      "post": {
        "summary": "BatchUpsertPricing",
        "description": "Set the pricing for a product",
        "operationId": "XborderPricingService_BatchUpsertPricing",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1BatchUpsertPricingResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1BatchUpsertPricingRequest"
            }
          }
        ],
        "tags": [
          "Product Pricing"
        ],
        "x-max-requests": 1500,
        "x-time-window": 60,
        "x-burst": 1500,
        "x-burst-time-window": 60
      }
    },
    "/v1/transfer-price/upsert": {
      "post": {
        "summary": "BatchUpsertTransferPrice",
        "description": "Set the transfer price for a product",
        "operationId": "XborderPricingService_BatchUpsertTransferPrice",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1BatchUpsertTransferPriceResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1BatchUpsertTransferPriceRequest"
            }
          }
        ],
        "tags": [
          "Product Transfer Price"
        ],
        "x-max-requests": 1500,
        "x-time-window": 60,
        "x-burst": 1500,
        "x-burst-time-window": 60
      }
    },
    "/v1/transfer-price/get": {
      "post": {
        "summary": "BatchGetTransferPrice",
        "description": "Get the transfer price for a product",
        "operationId": "XborderPricingService_BatchGetTransferPrice",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1BatchGetTransferPriceResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1BatchGetTransferPriceRequest"
            }
          }
        ],
        "tags": [
          "Product Transfer Price"
        ],
        "x-max-requests": 1500,
        "x-time-window": 60,
        "x-burst": 1500,
        "x-burst-time-window": 60
      }
    }
  },
  "definitions": {
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string",
          "description": "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
        }
      },
      "additionalProperties": {},
      "description": "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }",
      "required": [
        "type_url",
        "value"
      ]
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "status_id": {
          "type": "integer",
          "format": "int32"
        },
        "status_code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object"
          }
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https://github.com/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "v1BatchGetTransferPriceRequest": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1BatchGetTransferPriceRequestItem"
          },
          "description": "Array of transfer price lookup items. Max 1000 items per request."
        }
      },
      "required": [
        "items"
      ]
    },
    "v1BatchGetTransferPriceRequestItem": {
      "type": "object",
      "properties": {
        "partner_sku": {
          "type": "string",
          "description": "Partner SKU for that item."
        }
      },
      "required": [
        "partner_sku"
      ]
    },
    "v1BatchGetTransferPriceResponse": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1BatchGetTransferPriceResponseItem"
          },
          "description": "Array of items for which transfer price info was asked. Max 1000 items per response (matches request cap)."
        }
      },
      "required": [
        "items"
      ]
    },
    "v1BatchGetTransferPriceResponseItem": {
      "type": "object",
      "properties": {
        "partner_sku": {
          "type": "string",
          "description": "Partner SKU for that item."
        },
        "status": {
          "$ref": "#/definitions/rpcStatus",
          "description": "Status indicating whether the operation executed successfully or encountered an error."
        },
        "transfer_price_usd": {
          "type": "number",
          "format": "double",
          "x-nullable": true,
          "description": "Transfer price of the partner SKU in USD currency."
        },
        "msrp_usd": {
          "type": "number",
          "format": "double",
          "x-nullable": true,
          "description": "MSRP in USD currency of the partner SKU."
        },
        "is_active": {
          "type": "boolean",
          "x-nullable": true,
          "description": "The pricing status of the item (Active or Inactive)."
        }
      },
      "required": [
        "partner_sku",
        "status"
      ]
    },
    "v1BatchUpsertPricingRequest": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1BatchUpsertPricingRequestItem"
          },
          "description": "Array of prices needed to be set."
        }
      },
      "required": [
        "items"
      ]
    },
    "v1BatchUpsertPricingRequestItem": {
      "type": "object",
      "properties": {
        "partner_sku": {
          "type": "string",
          "description": "Partner SKU for that item."
        },
        "destination_country_code": {
          "type": "string",
          "description": "Alpha-2 ISO country code representing the destination country, where the price should be set or updated."
        },
        "price_usd": {
          "type": "number",
          "format": "double",
          "x-nullable": true,
          "description": "Price to be set in USD currency for that item."
        },
        "discount_percentage": {
          "type": "number",
          "format": "double",
          "x-nullable": true,
          "description": "Discount precentage to applied on price for that item."
        },
        "is_active": {
          "type": "boolean",
          "x-nullable": true,
          "description": "The pricing status of the item (Active or Inactive)."
        }
      },
      "required": [
        "partner_sku",
        "destination_country_code"
      ]
    },
    "v1BatchUpsertPricingResponse": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1BatchUpsertPricingResponseItem"
          },
          "description": "Array of (partner_sku, destination_country_code) pairs of the requested price set or update."
        }
      },
      "required": [
        "items"
      ]
    },
    "v1BatchUpsertPricingResponseItem": {
      "type": "object",
      "properties": {
        "partner_sku": {
          "type": "string",
          "description": "Partner SKU for that item."
        },
        "destination_country_code": {
          "type": "string",
          "description": "Alpha-2 ISO country code representing the destination country, where the price is set or updated."
        },
        "status": {
          "$ref": "#/definitions/rpcStatus",
          "description": "Status indicating whether the workflow executed successfully or encountered an error."
        }
      },
      "required": [
        "partner_sku",
        "destination_country_code",
        "status"
      ]
    },
    "v1BatchUpsertProductRequest": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1BatchUpsertProductRequestItem"
          },
          "description": "Array of items needed to be created or updated."
        }
      },
      "required": [
        "items"
      ]
    },
    "v1BatchUpsertProductRequestItem": {
      "type": "object",
      "properties": {
        "partner_sku": {
          "type": "string",
          "description": "Partner SKU for that item."
        },
        "dimensions_cm": {
          "$ref": "#/definitions/v1Dimensions",
          "x-nullable": true,
          "description": "Dimensions (length, width, height) of that item in centimeters."
        },
        "vm_weight_cm": {
          "type": "number",
          "format": "double",
          "x-nullable": true,
          "description": "Volumetric weight of that item in centimeters."
        },
        "actual_weight_kg": {
          "type": "number",
          "format": "double",
          "x-nullable": true,
          "description": "Actual weight of that item in kilograms."
        },
        "hs_code": {
          "type": "string",
          "x-nullable": true,
          "description": "Harmonized system (HS) code for that item."
        }
      },
      "required": [
        "partner_sku"
      ]
    },
    "v1BatchUpsertProductResponse": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1BatchUpsertProductResponseItem"
          },
          "description": "Array of items created or updated in the request."
        }
      },
      "required": [
        "items"
      ]
    },
    "v1BatchUpsertProductResponseItem": {
      "type": "object",
      "properties": {
        "partner_sku": {
          "type": "string",
          "description": "Partner SKU for that item."
        },
        "status": {
          "$ref": "#/definitions/rpcStatus",
          "description": "Status indicating whether the update executed successfully or encountered an error."
        }
      },
      "required": [
        "partner_sku",
        "status"
      ]
    },
    "v1BatchUpsertTransferPriceRequest": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1BatchUpsertTransferPriceRequestItem"
          },
          "description": "Array of transfer prices needed to be set or updated."
        }
      },
      "required": [
        "items"
      ]
    },
    "v1BatchUpsertTransferPriceRequestItem": {
      "type": "object",
      "properties": {
        "partner_sku": {
          "type": "string",
          "description": "Partner SKU for that item."
        },
        "transfer_price_usd": {
          "type": "number",
          "format": "double",
          "x-nullable": true,
          "description": "Transfer price to be set or updated in USD currency for that item."
        },
        "msrp_usd": {
          "type": "number",
          "format": "double",
          "x-nullable": true,
          "description": "MSRP needed to be set or updated for that item."
        },
        "is_active": {
          "type": "boolean",
          "x-nullable": true,
          "description": "The pricing status of the item (Active or Inactive)."
        }
      },
      "required": [
        "partner_sku"
      ]
    },
    "v1BatchUpsertTransferPriceResponse": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1BatchUpsertTransferPriceResponseItem"
          },
          "description": "Array of items for which pricing will be set."
        }
      },
      "required": [
        "items"
      ]
    },
    "v1BatchUpsertTransferPriceResponseItem": {
      "type": "object",
      "properties": {
        "partner_sku": {
          "type": "string",
          "description": "Partner SKU for that item."
        },
        "status": {
          "$ref": "#/definitions/rpcStatus",
          "description": "Status indicating whether the update executed successfully or encountered an error."
        }
      },
      "required": [
        "partner_sku",
        "status"
      ]
    },
    "v1Dimensions": {
      "type": "object",
      "properties": {
        "length": {
          "type": "number",
          "format": "double",
          "description": "Length of the item in centimeters."
        },
        "width": {
          "type": "number",
          "format": "double",
          "description": "Width of the item in centimeters."
        },
        "height": {
          "type": "number",
          "format": "double",
          "description": "Height of the item in centimeters."
        }
      },
      "required": [
        "length",
        "width",
        "height"
      ]
    }
  }
}
