{
  "swagger": "2.0",
  "tags": [
    {
      "name": "FbpoService"
    }
  ],
  "host": "noon-api-gateway.noon.partners",
  "basePath": "/fbpo",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/po/{po_nr}/get": {
      "get": {
        "summary": "GetPurchaseOrder",
        "description": "Retrieves the details of a specific purchase order by its number.",
        "operationId": "FbpoService_GetPo",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetPoResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "po_nr",
            "description": "The pucharse order number used in the request.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Purchase Order"
        ],
        "x-max-requests": 1500,
        "x-time-window": 60,
        "x-burst": 1500,
        "x-burst-time-window": 60
      }
    }
  },
  "definitions": {
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {},
      "required": [
        "type_url",
        "value"
      ]
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "status_id": {
          "type": "integer",
          "format": "int32"
        },
        "status_code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object"
          }
        }
      }
    },
    "typeDate": {
      "type": "object",
      "properties": {
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without\na year."
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a\nmonth and day."
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0\nto specify a year by itself or a year and month where the day isn't\nsignificant."
        }
      },
      "description": "* A full date, with non-zero year, month, and day values\n* A month and day value, with a zero year, such as an anniversary\n* A year on its own, with zero month and day values\n* A year and month value, with a zero day, such as a credit card expiration\ndate\n\nRelated types are [google.type.TimeOfDay][google.type.TimeOfDay] and\n`google.protobuf.Timestamp`.",
      "title": "Represents a whole or partial calendar date, such as a birthday. The time of\nday and time zone are either specified elsewhere or are insignificant. The\ndate is relative to the Gregorian Calendar. This can represent one of the\nfollowing:",
      "required": [
        "year",
        "month",
        "day"
      ]
    },
    "v1GetPoResponse": {
      "type": "object",
      "properties": {
        "po_nr": {
          "type": "string",
          "description": "The pucharse order number passed in the request."
        },
        "po_currency": {
          "type": "string",
          "description": "The currency of that purchase order."
        },
        "merchant_code": {
          "type": "string",
          "description": "The merchant identifier, prefixed with STR."
        },
        "warehouse_code": {
          "type": "string",
          "description": "Partner warehouse code representing the warehouse responsible for fulfilling the purchase order."
        },
        "po_status": {
          "$ref": "#/definitions/v1PoStatus",
          "description": "The status of the purchase order, stating whether it is \"Pending\" or \"Released\"."
        },
        "po_release_date": {
          "$ref": "#/definitions/typeDate",
          "description": "The release date of that purchase order."
        },
        "po_lines": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1PoLine"
          },
          "description": "Array of purchase order lines included in that purchase order."
        }
      },
      "required": [
        "po_nr",
        "po_currency",
        "merchant_code",
        "warehouse_code",
        "po_status",
        "po_release_date",
        "po_lines"
      ]
    },
    "v1PoLine": {
      "type": "object",
      "properties": {
        "partner_sku": {
          "type": "string",
          "description": "Partner SKU for that item."
        },
        "qty": {
          "type": "integer",
          "format": "int32",
          "description": "Quantity needed for that item."
        },
        "unit_cost": {
          "type": "number",
          "format": "double",
          "description": "Unit cost of that item."
        }
      },
      "required": [
        "partner_sku",
        "qty",
        "unit_cost"
      ]
    },
    "v1PoStatus": {
      "type": "string",
      "enum": [
        "PO_STATUS_UNSPECIFIED",
        "PO_STATUS_PENDING",
        "PO_STATUS_RELEASED"
      ],
      "default": "PO_STATUS_UNSPECIFIED"
    }
  }
}
