{
  "swagger": "2.0",
  "tags": [
    {
      "name": "ContentService"
    }
  ],
  "host": "noon-api-gateway.noon.partners",
  "basePath": "/content",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/categories/list": {
      "post": {
        "summary": "ListCategories",
        "description": "Lists all available product categories in the catalog.",
        "operationId": "ContentService_ListCategories",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListCategoriesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1ListCategoriesRequest"
            }
          }
        ],
        "tags": [
          "Categories"
        ],
        "x-max-requests": 1500,
        "x-time-window": 60,
        "x-burst": 1500,
        "x-burst-time-window": 60
      }
    },
    "/v1/categories/attributes/list": {
      "post": {
        "summary": "ListCategoryAttributes",
        "description": "Retrieves the attributes for a specified product category.",
        "operationId": "ContentService_ListCategoryAttributes",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListCategoryAttributesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1ListCategoryAttributesRequest"
            }
          }
        ],
        "tags": [
          "Categories"
        ],
        "x-max-requests": 1500,
        "x-time-window": 60,
        "x-burst": 1500,
        "x-burst-time-window": 60
      }
    },
    "/v1/product/upsert": {
      "post": {
        "summary": "UpsertProduct",
        "description": "Creates or updates a product in the catalog.",
        "operationId": "ContentService_UpsertProduct",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1UpsertProductResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1UpsertProductRequest"
            }
          },
          {
            "name": "X-Project",
            "description": "Project identifier",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Products"
        ],
        "security": [
          {
            "X-Project": []
          }
        ],
        "x-max-requests": 1500,
        "x-time-window": 60,
        "x-burst": 1500,
        "x-burst-time-window": 60
      }
    },
    "/v1/product/content/get": {
      "post": {
        "summary": "GetContent",
        "description": "Retrieves content information for specified products.",
        "operationId": "ContentService_GetContent",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetContentResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1GetContentRequest"
            }
          }
        ],
        "tags": [
          "Products"
        ],
        "x-max-requests": 1500,
        "x-time-window": 60,
        "x-burst": 1500,
        "x-burst-time-window": 60
      }
    }
  },
  "definitions": {
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string",
          "description": "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
        }
      },
      "additionalProperties": {},
      "description": "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }",
      "required": [
        "type_url",
        "value"
      ]
    },
    "protobufNullValue": {
      "type": "string",
      "enum": [
        "NULL_VALUE"
      ],
      "default": "NULL_VALUE",
      "description": "`NullValue` is a singleton enumeration to represent the null value for the\n`Value` type union.\n\nThe JSON representation for `NullValue` is JSON `null`.\n\n - NULL_VALUE: Null value."
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "status_id": {
          "type": "integer",
          "format": "int32"
        },
        "status_code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object"
          }
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https://github.com/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "v1AttributeType": {
      "type": "string",
      "enum": [
        "ATTRIBUTE_TYPE_UNSPECIFIED",
        "ATTRIBUTE_TYPE_BOOL",
        "ATTRIBUTE_TYPE_DATETIME",
        "ATTRIBUTE_TYPE_FILE",
        "ATTRIBUTE_TYPE_JSONDICT",
        "ATTRIBUTE_TYPE_METRIC",
        "ATTRIBUTE_TYPE_NUMERIC",
        "ATTRIBUTE_TYPE_SELECT",
        "ATTRIBUTE_TYPE_TEXT"
      ],
      "default": "ATTRIBUTE_TYPE_UNSPECIFIED"
    },
    "v1AttributeValue": {
      "type": "object",
      "properties": {
        "value": {
          "description": "value for the attribute. \nThe format should align with the specified AttributeType for the attribute in the category.\nThe value should also adhere to any additional validation rules defined for the attribute."
        },
        "language": {
          "$ref": "#/definitions/v1Language",
          "x-nullable": true,
          "description": "language code for the attribute value.\nthis is required only if the attribute is localizable.\nfor non-localizable attributes, this field should be omitted."
        },
        "sort": {
          "type": "integer",
          "format": "int32",
          "x-nullable": true,
          "description": "sort order for the attribute value (starting at 1).\nthis is required only if the attribute is multivalued to specify the order of values.\nfor single valued attributes, this field should be omitted."
        }
      },
      "required": [
        "value"
      ]
    },
    "v1AttributeValues": {
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1AttributeValue"
          },
          "description": "array of values for the attribute.\nFor single/non-localizable attributes, provide a single value in the array.\nFor localizable attributes, provide separate values for each language using the desired language code.\nFor multivalued attributes, provide multiple values in the desired sort order."
        }
      },
      "required": [
        "values"
      ]
    },
    "v1CatalogSku": {
      "type": "object",
      "properties": {
        "partner_sku": {
          "type": "string",
          "description": "Your internal unique identifier for this specific variation. It has to be unique across all your products."
        },
        "size": {
          "type": "string",
          "x-nullable": true,
          "description": "The specific size value for this SKU (e.g., Large, 42, S). It should reflect the actual label size."
        }
      },
      "required": [
        "partner_sku"
      ]
    },
    "v1CategoryAttribute": {
      "type": "object",
      "properties": {
        "attribute_code": {
          "type": "string",
          "title": "unique identifier for the attribute"
        },
        "is_mandatory": {
          "type": "boolean",
          "title": "if True, attribute is required for product creation"
        },
        "is_facet": {
          "type": "boolean",
          "title": "If True, attribute is indexed for customer search filters on the storefront"
        },
        "attribute_type": {
          "$ref": "#/definitions/v1AttributeType",
          "title": "input format of the attribute value"
        },
        "is_localizable": {
          "type": "boolean",
          "title": "If True, the value can differ based on the region or language"
        },
        "is_multivalued": {
          "type": "boolean",
          "title": "if True, the attribute can have multiple values"
        },
        "max_values": {
          "type": "integer",
          "format": "int32",
          "x-nullable": true,
          "title": "max number of values allowed if attribute is multivalued"
        },
        "min_characters": {
          "type": "integer",
          "format": "int32",
          "x-nullable": true,
          "title": "minimum string length allowed for text attributes"
        },
        "max_characters": {
          "type": "integer",
          "format": "int32",
          "x-nullable": true,
          "title": "maximum string length allowed for text attributes"
        },
        "is_html_allowed": {
          "type": "boolean",
          "x-nullable": true,
          "title": "if True, HTML content is allowed in text attributes"
        },
        "allowed_html_tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "An exclusive list of specific HTML tags allowed, if is_html_allowed is True"
        },
        "number_min": {
          "type": "number",
          "format": "double",
          "x-nullable": true,
          "title": "minimum number allowed for numeric attributes"
        },
        "number_max": {
          "type": "number",
          "format": "double",
          "x-nullable": true,
          "title": "maximum number allowed for numeric attributes"
        },
        "is_negative_allowed": {
          "type": "boolean",
          "x-nullable": true,
          "title": "if True, numeric field accepts negative numbers"
        },
        "date_min": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true,
          "description": "The earliest allowed date (ISO 8601 format) for datetime attributes."
        },
        "date_max": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true,
          "description": "The latest allowed date (ISO 8601 format) for datetime attributes."
        },
        "min_size_in_kilobytes": {
          "type": "number",
          "format": "double",
          "x-nullable": true,
          "title": "minimum file size in kilobytes allowed for file attributes"
        },
        "max_size_in_kilobytes": {
          "type": "number",
          "format": "double",
          "x-nullable": true,
          "title": "maximum file size in kilobytes allowed for file attributes"
        },
        "allowed_mimetypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "list of allowed file formats for file attributes"
        },
        "additional_validation_regex": {
          "type": "string",
          "x-nullable": true,
          "title": "custom regex pattern text attributes must match"
        },
        "attribute_options": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "exclusive list of allowed options for select attributes"
        },
        "attribute_metric_units": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "exclusive list of allowed metric units for metric attributes\nmetric attributes require both a numeric value and a unit"
        }
      },
      "required": [
        "attribute_code",
        "is_mandatory",
        "is_facet",
        "attribute_type",
        "is_localizable",
        "is_multivalued",
        "allowed_html_tags",
        "allowed_mimetypes",
        "attribute_options",
        "attribute_metric_units"
      ]
    },
    "v1Error": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "v1GetContentRequest": {
      "type": "object",
      "properties": {
        "sku_parent": {
          "type": "string",
          "title": "sku_parent obtained from product upsert API"
        }
      },
      "required": [
        "sku_parent"
      ]
    },
    "v1GetContentResponse": {
      "type": "object",
      "properties": {
        "sku_parent": {
          "type": "string",
          "title": "sku_parent obtained for which the content information is provided"
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/v1AttributeValues"
          },
          "title": "content stored for the product"
        },
        "images": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1ProductImageSlot"
          },
          "title": "images associated with the product along with their statuses"
        },
        "statuses": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1ProductStatus"
          },
          "title": "content status for different languages"
        }
      },
      "required": [
        "sku_parent",
        "attributes",
        "images",
        "statuses"
      ]
    },
    "v1Image": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "title": "The direct public URL where the image is hosted"
        },
        "sort": {
          "type": "integer",
          "format": "int64",
          "title": "The display order (starting at 1)"
        }
      },
      "required": [
        "url",
        "sort"
      ]
    },
    "v1Language": {
      "type": "string",
      "enum": [
        "LANGUAGE_UNSPECIFIED",
        "LANGUAGE_EN",
        "LANGUAGE_AR"
      ],
      "default": "LANGUAGE_UNSPECIFIED"
    },
    "v1ListCategoriesRequest": {
      "type": "object"
    },
    "v1ListCategoriesResponse": {
      "type": "object",
      "properties": {
        "categories": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of unique category codes.\nThese codes represent the full hierarchy path for a specific product type\n(e.g., family-type-subtype)."
        }
      },
      "required": [
        "categories"
      ]
    },
    "v1ListCategoryAttributesRequest": {
      "type": "object",
      "properties": {
        "category_code": {
          "type": "string",
          "title": "category code representing the product's classification in the catalog obtained from categories/list API"
        }
      },
      "required": [
        "category_code"
      ]
    },
    "v1ListCategoryAttributesResponse": {
      "type": "object",
      "properties": {
        "attributes": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1CategoryAttribute"
          }
        }
      },
      "required": [
        "attributes"
      ]
    },
    "v1OverallStatus": {
      "type": "string",
      "enum": [
        "OVERALL_STATUS_UNSPECIFIED",
        "OVERALL_STATUS_ACTIVE",
        "OVERALL_STATUS_INACTIVE"
      ],
      "default": "OVERALL_STATUS_UNSPECIFIED"
    },
    "v1ProductContentStatus": {
      "type": "object",
      "properties": {
        "completeness": {
          "type": "string",
          "title": "content completeness percentage (0-100) based on required attributes for the category"
        },
        "missing_attributes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "required attributes that are missing for the product to be considered complete"
        },
        "invalid_attributes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "required attributes that have invalid values"
        }
      },
      "required": [
        "completeness",
        "missing_attributes",
        "invalid_attributes"
      ]
    },
    "v1ProductImageSlot": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "title": "provided URL of the image"
        },
        "sort": {
          "type": "integer",
          "format": "int64",
          "title": "sorting order for the image gallery"
        },
        "visibility": {
          "$ref": "#/definitions/v1VisibilityStatus",
          "title": "visibility status of the image (visible/hidden)"
        },
        "review_status": {
          "$ref": "#/definitions/v1ReviewStatus",
          "title": "validation status of the image after review (valid/invalid)"
        },
        "issues": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1Error"
          },
          "title": "issues found with the image, if image is invalid"
        }
      },
      "required": [
        "url",
        "sort",
        "visibility",
        "review_status",
        "issues"
      ]
    },
    "v1ProductQcStatus": {
      "type": "object",
      "properties": {
        "status": {
          "$ref": "#/definitions/v1QcStatus",
          "title": "status of the product in the quality control process"
        },
        "rejection_reasons": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "reasons for rejection, if the product was rejected"
        },
        "comment": {
          "type": "string",
          "title": "comments from the quality control"
        }
      },
      "required": [
        "status",
        "rejection_reasons",
        "comment"
      ]
    },
    "v1ProductStatus": {
      "type": "object",
      "properties": {
        "language": {
          "$ref": "#/definitions/v1Language",
          "title": "language code for which the status is provided"
        },
        "content": {
          "$ref": "#/definitions/v1ProductContentStatus",
          "title": "content attributes status"
        },
        "qc": {
          "$ref": "#/definitions/v1ProductQcStatus",
          "title": "quality control status of the product"
        },
        "overall_status": {
          "$ref": "#/definitions/v1OverallStatus",
          "title": "overall status of the product (if product content is okay to go live)\nfor the listing to be active, content_completeness must be 100% and QC must be approved"
        },
        "errors": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1Error"
          },
          "title": "any errors related to the product content which needs to be addressed to make the product active"
        }
      },
      "required": [
        "language",
        "content",
        "qc",
        "overall_status",
        "errors"
      ]
    },
    "v1QcStatus": {
      "type": "string",
      "enum": [
        "QC_STATUS_UNSPECIFIED",
        "QC_STATUS_APPROVED",
        "QC_STATUS_REJECTED",
        "QC_STATUS_PENDING",
        "QC_STATUS_NOT_ELIGIBLE"
      ],
      "default": "QC_STATUS_UNSPECIFIED"
    },
    "v1ReviewStatus": {
      "type": "string",
      "enum": [
        "REVIEW_STATUS_UNSPECIFIED",
        "REVIEW_STATUS_VALID",
        "REVIEW_STATUS_PENDING",
        "REVIEW_STATUS_INVALID"
      ],
      "default": "REVIEW_STATUS_UNSPECIFIED"
    },
    "v1UpsertProductRequest": {
      "type": "object",
      "properties": {
        "skus": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1CatalogSku"
          },
          "title": "list of stock-keeping units\nit needs to contain at least one SKU\nin case of single SKU for a product, the size field is optional\nin case of multiple SKUs (sizes) for a product, all SKUs must have the size field specified\nin case of update, all SKUs must belong to the same parent product"
        },
        "brand": {
          "type": "string",
          "title": "brand name of the product"
        },
        "category": {
          "type": "string",
          "title": "category code representing the product's classification in the catalog obtained from categories/list API"
        },
        "images": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1Image"
          },
          "title": "images associated with the product"
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/v1AttributeValues"
          },
          "title": "dictionary of attribute codes to their corresponding values"
        }
      },
      "required": [
        "skus",
        "brand",
        "category",
        "images",
        "attributes"
      ]
    },
    "v1UpsertProductResponse": {
      "type": "object",
      "properties": {
        "sku_parent": {
          "type": "string",
          "title": "sku_parent of the created or updated product"
        },
        "variants": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1UpsertProductVariant"
          },
          "title": "product variants that were created or updated"
        },
        "status": {
          "$ref": "#/definitions/rpcStatus",
          "title": "status of the upsert operation"
        }
      },
      "required": [
        "sku_parent",
        "variants",
        "status"
      ]
    },
    "v1UpsertProductVariant": {
      "type": "object",
      "properties": {
        "sku": {
          "type": "string",
          "title": "SKU of the product variant"
        },
        "partner_sku": {
          "type": "string",
          "title": "partner provided SKU of the product variant"
        },
        "psku_code": {
          "type": "string"
        },
        "size": {
          "type": "string",
          "x-nullable": true,
          "title": "size of the product variant"
        }
      },
      "required": [
        "sku",
        "partner_sku",
        "psku_code"
      ]
    },
    "v1VisibilityStatus": {
      "type": "string",
      "enum": [
        "VISIBILITY_STATUS_UNSPECIFIED",
        "VISIBILITY_STATUS_VISIBLE",
        "VISIBILITY_STATUS_HIDDEN"
      ],
      "default": "VISIBILITY_STATUS_UNSPECIFIED"
    }
  },
  "securityDefinitions": {
    "X-Project": {
      "type": "apiKey",
      "name": "X-Project",
      "in": "header"
    }
  }
}
